<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>WebSocket client</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h2>WebSocket Chat App</h2>
        <form action="" method="POST">
            <ul>
                <li>
                    <input type="text" id="message" name="msg" required>
                </li>
                <li class="button">
                    <button type="submit">Send</button>
                </li>
            </ul>
        </form>
    </body>
</html>